root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

indent_size = 4
indent_style = tab
max_line_length = 120
tab_width = 4

[*.bat]
end_of_line = crlf

[*.java]
trim_trailing_whitespace = true

